# IDE Local Configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Python Virtual Environments
.venv/
venv/
ENV/
env/

# Python Cache compiler files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

docker-compose.yml